<section class="sec-sm" style="padding-top:0">
  <div class="wrap">
    <div class="cta-band rv"><div><h3>Nezáväzná ponuka a zameranie zdarma</h3><p>Prídeme, poradíme, zmeriame. Na našu montáž máte 5 rokov servis zdarma.</p></div><a class="btn btn-red" href="#kontakt">Chcem ponuku <span class="arr"><svg width="14" height="14"><use href="#i-arr"/></svg></span></a></div>
    <h3 class="rv" style="font-size:22px;margin:56px 0 18px">Ďalšie produkty</h3>
    <div class="next-prod rv">
      <a href="zaluzie.html">Vonkajšie žalúzie <i><svg width="14" height="14"><use href="#i-arr"/></svg></i></a>
      <a href="screeny.html">Screenové rolety <i><svg width="14" height="14"><use href="#i-arr"/></svg></i></a>
      <a href="rolety.html">Vonkajšie rolety <i><svg width="14" height="14"><use href="#i-arr"/></svg></i></a>
      <a href="pergoly.html">Hliníkové pergoly <i><svg width="14" height="14"><use href="#i-arr"/></svg></i></a>
      <a href="zasklenia.html">Zasklenia <i><svg width="14" height="14"><use href="#i-arr"/></svg></i></a>
      <a href="interier.html">Vnútorné tienenie <i><svg width="14" height="14"><use href="#i-arr"/></svg></i></a>
      <a href="somfy.html">Motory Somfy <i><svg width="14" height="14"><use href="#i-arr"/></svg></i></a>
      <a href="servis.html">Servis okien <i><svg width="14" height="14"><use href="#i-arr"/></svg></i></a>
    </div>
  </div>
</section>
